.catchy-text {
  max-width: 100%;
  padding: 0 20px;
}
.catchy-text__title {
  padding: 34px 0 0;
}
.catchy-text__desk {
  padding: 52px 0 0;
  text-align: start;
}
.catchy-text__lead-text {
  padding: 80px 0 0;
  display: inline-block;
}