.page-footer {
  min-height: 600px;
  padding: 0 20px;
}
.page-footer__logo {
  padding: 21px 0 0;
}
// Ссылки информ. 
.info-link {
margin: 24px 0 0;
display: flex;
flex-direction: column;
gap: 24px;
}
.page-footer__contacts-number {
  margin: 24px 0 0;
  display: inline-block;
}