.mall-data-list {
  padding: 40px 0 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media (min-width: $tablet) {
    padding: 0 40px 0 25px;
    width: 20%;
    align-items: flex-start;
    text-align: start; 
  }
}
.mall-data-list__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (min-width: $tablet) {
    gap: 17px;
  }
}
.mall-data-list__caption {
  font-size: 16px;
  line-height: 1.25;
  color: #6B7073;
}
.mall-data-list__lead {
  font-size: 30px;
  line-height: 1.23;
  color: #151516;
  @media (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.22;
  }
}